* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background: #09090c;
}

h1,
h2,
h3,
h4,
p {
  color: white;
  font-weight: 500;
}

.navBar {
  width: 100vw;
  height: 50px;
  background: #09090c;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar a {
  text-decoration: none;
}

.navContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50px;
  background: #09090c;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.navContent li a {
  text-decoration: none;
  color: white;
}

.navLinks {
  font-size: 1.5rem;
  list-style: none;
  padding: 12px;
}

.navButton {
  font-size: 1.5rem;
  position: absolute;
  right: 5%;
  color: white;
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homeBody {
  background: url("./images/homeBG.jpeg"), #161616;
  background-size: cover;
  background-position: center;
  width: 100vw;
}

.hero {
  width: 100vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.heroBtn {
  width: 20rem;
}

.showsContainer {
  width: 100vw;
  padding: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showContent {
  margin-bottom: 30px;
  width: 80%;
  padding: 10px;
  background: #09090c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 10px 10px 10px #09090c;
          box-shadow: 10px 10px 10px #09090c;
}

.showContent p {
  font-weight: 300;
}

.showImg {
  width: 100%;
  height: auto;
}

.showTitle {
  margin-top: 10px;
  font-size: 1.5rem;
}

.section2 {
  height: auto;
  margin-top: 50px;
}

.reviewsBar {
  position: fixed;
  top: 50px;
  height: 30px;
  background: #09090c;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  color: white;
  font-size: 1.2rem;
}

.audiobiopics, .mixes, .archive {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
}

.titleSection {
  background: url("./images/homeImg2.jpeg");
  background-size: cover;
  background-position: 40% 40%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleSection h1,
.titleSection h3 {
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 1px #161616;
}

.audioContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.liveContainer {
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.liveTitle {
  background: url("./images/homeImg1.jpeg");
  background-size: cover;
  background-position: 40% 40%;
  font-size: 2rem;
}

.liveContent {
  margin: 100px 0 25px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profileImg {
  display: none;
  width: 60%;
  image-rendering: auto;
  margin-top: 20px;
}

.liveTitle {
  text-align: center;
}

.commentSection {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  background: grey;
  border-radius: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment {
  width: 100%;
  height: 30vh;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.makeComment {
  width: 100%;
  height: 100%;
}

.makeComment form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.commentBox {
  width: 80%;
  height: auto;
  font-size: 1.4rem;
  margin-right: 5px;
  background: white;
  border-radius: 0.2rem;
  border: none;
}

.commentBox::-webkit-input-placeholder {
  padding-left: 10px;
  color: grey;
}

.commentBox:-ms-input-placeholder {
  padding-left: 10px;
  color: grey;
}

.commentBox::-ms-input-placeholder {
  padding-left: 10px;
  color: grey;
}

.commentBox::placeholder {
  padding-left: 10px;
  color: grey;
}

.commentResult {
  background: #09090c;
  margin: 2px 0 2px 0;
  padding: 2px 2px 2px 25px;
  color: white;
  font-size: 1.5rem;
  width: 95%;
  border-radius: 0.6rem;
}

.commentButton {
  padding: 10px;
  background: white;
  border: none;
  font-weight: bold;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  border-radius: 0.2rem;
  border: none;
}

.commentButton:hover {
  background: grey;
}

.mixTitle {
  background: url("./images/homeImg3.jpeg");
  background-size: cover;
  background-position: 40% 40%;
}

.archiveTitle {
  background: url("./images/homeImg4.jpeg");
  background-size: cover;
  background-position: 40% 40%;
}

.blog {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.posts {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  overflow: hidden;
}

.postImg {
  width: 100%;
  height: auto;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
}

.login {
  padding-top: 100px;
}

.postForm {
  padding-top: 100px;
  width: 40%;
  margin: auto;
}

.postForm textarea {
  margin-top: 25px;
  width: 100%;
}

.postForm * {
  margin: 10px;
  padding: 5px;
}

.listenNowBtn {
  width: 80%;
  background: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border: solid 2px white;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  padding: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.listenNowBtn:hover {
  background: #09090c;
  border: solid 2px #09090c;
}

.seperator {
  background: #09090c;
  height: 2px;
  margin-bottom: 10px;
}

.images {
  width: 100%;
  height: auto;
}

@media (min-width: 700px) {
  .showContent {
    width: 60%;
  }
  .posts {
    width: 60%;
  }
  .homeBody {
    background-position: top center;
  }
  .heroBtn {
    width: 20rem;
  }
}

@media (min-width: 1000px) {
  .showsContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .showContent {
    width: 25%;
  }
  .profileImg {
    display: block;
  }
  .spreaker-player {
    width: 60%;
  }
  .posts {
    width: 40%;
  }
  .audioContent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviewsSection {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    width: 90%;
  }
  .section2 {
    height: 60vh;
  }
  .commentSection {
    width: 50%;
  }
}

@media (min-width: 1300px) {
  .listenNowBtn {
    width: 20rem;
  }
  .section2 {
    height: 50vh;
  }
  .commentSection {
    width: 45%;
  }
}

@media (min-width: 1500px) {
  .profileImg {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */